@use "../includes/variables" as *;

header {
  height: $header_height;
  nav {
    li {
      list-style-type: none;
      a {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}
