header {
    nav {
        li {
            list-style-type: none;
            a {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }
}