@use "../includes/variables" as *;

header {
  height: $header_height;
  z-index: 9;
  nav {
    li {
      list-style-type: none;
      a,
      button {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    .dropdown-menu {
      min-width: 200px;
      top: 38px;
      li {
        a,
        button {
          text-transform: none;
          font-weight: normal;
          display: block;
          padding: 5px 15px;
          border-radius: 6px;
          &:hover {
            background-color: $dropdown_color;
          }
        }
      }
    }
  }
}
