.section {
    padding: 80px 0;
}

.fashion-box {
    width: 100%;
    height: 500px;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgb(0 0 0 / 10%);
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .fashion-title {
        bottom: 50px;
        font-size: 60px;
    }
    &:hover {
        .fashion-title {
            opacity: 1;
        }
    }
}