@use "../includes/variables" as *;

:root {
  --order-info-block-width: 400px;
}

.order-details {
  .order-form-block {
    width: calc(100% - var(--order-info-block-width));
    max-width: 100%;
    .payment-method {
      figure {
        max-width: 180px;
      }
    }
    .payment-seperation {
      position: relative;
      &::after,
      &::before {
        content: "";
        height: 1px;
        width: 35%;
        display: inline-block;
        background-color: #e5e5e5;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }
  .order-info-block {
    width: var(--order-info-block-width);
    figure {
      max-width: 60px;
    }
    picture {
      display: block;
      max-width: 180px;
    }
  }
}
