@use "../includes/variables" as *;

:root {
  --order-info-block-width: 400px;
}

.order-details {
  .order-form-block {
    width: calc(100% - var(--order-info-block-width));
    max-width: 100%;
    .stepper {
      position: relative;
      .step {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
        border-radius: 50px;
        padding: 0.25rem 1.25rem;
        background-color: #fff;
        position: relative;
        .stepper-count {
          position: absolute;
          left: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          width: 22px;
          height: 22px;
          font-size: 12px;
          color: #fff;
          background-color: $body_color;
        }
        span:not(.stepper-count) {
          margin-left: 15px;
        }
        &.active {
          border-color: $body_color;
          background-color: $body_color;
          color: #fff;
          .stepper-count {
            background-color: #fff;
            color: $body_color;
          }
        }
      }
      &::before {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #ddd;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .payment-method {
      figure {
        max-width: 180px;
      }
    }
    .payment-seperation {
      position: relative;
      &::after,
      &::before {
        content: "";
        height: 1px;
        width: 35%;
        display: inline-block;
        background-color: #e5e5e5;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &::after {
        right: 0;
      }
      &::before {
        left: 0;
      }
    }
  }
  .order-info-block {
    width: var(--order-info-block-width);
    figure {
      max-width: 60px;
    }
    picture {
      display: block;
      max-width: 180px;
    }
  }
}
