@use "../includes/variables" as *;

.product-card {
  .product-img-container {
    padding-bottom: 130%;
  }
}
.product-details {
  .product-slider-block {
    width: calc(100% - 500px);
    max-width: 100%;
  }
  .product-info-block {
    width: 500px;
    padding-left: 40px;
  }
  .product-size {
    li {
      border: 1px solid #d5d5d5;
      padding: 0.25rem;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
