@use "../includes/variables" as *;

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.form-control {
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
}

.v-select {
  .vs__dropdown-toggle {
    height: 30px;
    border: none;
    .vs__selected-options {
      padding: 0;
    }
  }
}
