@use "../includes/variables" as *;

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.form-control {
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: $form_controls_height;
  border: 1px solid $border_color;
  border-radius: $form_controls_radius;
}

.v-select {
  .vs__dropdown-toggle {
    height: 30px;
    border: none;
    .vs__selected-options {
      padding: 0;
      input {
        color: $placeholder;
      }
    }
  }
  .vs__dropdown-menu {
    .vs__dropdown-option--selected {
      background-color: $body_color !important;
      color: #fff !important;
    }
    .vs__dropdown-option {
      background-color: transparent;
      &:hover,
      &:focus,
      &:active {
        background-color: $dropdown-color !important;
        color: $body_color !important;
      }
    }
  }
}
