@use "../includes/variables" as *;

.form-label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.form-control {
  padding: 0.5rem 1rem;
  width: 100%;
  min-height: $form_controls_height;
  border: 1px solid $border_color;
  border-radius: $form_controls_radius;
}

.v-select {
  .vs__dropdown-toggle {
    height: 30px;
    border: none;
    .vs__selected-options {
      padding: 0;
      input {
        color: $placeholder;
      }
    }
  }
  .vs__dropdown-menu {
    .vs__dropdown-option--selected {
      background-color: $body_color !important;
      color: #fff !important;
    }
    .vs__dropdown-option {
      background-color: transparent;
      &:hover,
      &:focus,
      &:active {
        background-color: $dropdown-color !important;
        color: $body_color !important;
      }
    }
  }
}

.form-check {
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      & + label {
        &::before {
          border-color: $body_color;
          background-color: $body_color;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: 7px;
          width: 6px;
          height: 11px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }
  label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid $border_color;
      border-radius: 4px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
