@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (min-width: 1536px) {
      @content;
    }
  }
}

@mixin respond-max($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 639px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1279px) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (max-width: 1535px) {
      @content;
    }
  }
}
