$primary_color: var(--app-primary-color);
$secondary_color: var(--app-secondary-color);
$body_color: var(--app-color);
$primary_font: var(--app-font);
$bg_color: var(--app-bg-color);
$dropdown_color: var(--app-dropdown-bg);
$placeholder: var(--app-placeholder);
$border_color: var(--app-border-color);
$header_height: var(--app-header-height);
$form_controls_height: var(--app-form-element-height);
$form_controls_radius: var(--app-form-element-radius);
