@use "../includes/variables" as *;
@use "../includes/mixins" as *;

body {
  font-family: $primary_font;
  color: $body_color;
}

button:not(:disabled) {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include respond(2xl) {
    max-width: 1460px;
  }
}
